.bar {
  width: 20px;
  height: 2px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: #fff;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1500;
}

.barone {
  transform: translateY(8px) rotate(45deg);
  transition: all 0.3s ease-in-out;
  background: #fff;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1500;
}

.barthree {
  transform: translateY(1px) rotate(-45deg);
  transition: all 0.3s ease-in-out;
  background: #fff;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1500;
}

.cancelOne {
  transform: translateY(8px) rotate(45deg);
  transition: all 0.3s ease-in-out;
  background: black;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  border-radius: 20px;
  cursor: pointer;
}

.cancelTwo {
  transform: translateY(1px) rotate(-45deg);
  transition: all 0.3s ease-in-out;
  background: black;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  border-radius: 20px;
  cursor: pointer;
}
